<h1>
  Hello Hortari Technologies!
</h1>

<div style="padding-bottom: 20px">
  <p>Set Update Interval in minutes (default 5 min):</p>
  <input type="number" [(ngModel)]="updateIntervalTime" />
  <button (click)="registerInterval()">apply</button>
</div>

<table>

  <tr>
    <th *ngFor="let item of headerItems" (click)="sortData(item.property)">
      {{ item.title }}
      <i class="fa" [ngClass]="getIconClass(item.property)"></i>
    </th>
  </tr>

  <tbody>
    <tr *ngFor="let currency of currenciesData" (click)="updateFocusedCurrencyAndSwitchModal(currency)">
      <td>{{ currency.rank }}</td>
      <td>{{ currency.name }}</td>
      <td>{{ currency.symbol }}</td>
      <td >{{ currency.market_cap_usd }}</td>
      <td>{{ currency.price_usd }}</td>
      <td>{{ currency['24h_volume_usd'] }}</td>
      <td [style.color]="currency['percent_change_1h'] > 0 ? 'green' : 'red'">{{ currency.percent_change_1h }}</td>
      <td [style.color]="currency['percent_change_24h'] > 0 ? 'green' : 'red'">{{ currency.percent_change_24h }}</td>
      <td [style.color]="currency['percent_change_7d'] > 0 ? 'green' : 'red'">{{ currency.percent_change_7d }}</td>
    </tr>
  </tbody>

</table>

<div id="myModal" class="modal" *ngIf="modalOpen">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="switchModalState()">&times;</span>

    <div style="display: flex">
      <div>
        <h3 style="color: green">
          <u>{{ focusedCurrency.name }} ({{ focusedCurrency.symbol }})</u>
        </h3>
        <h1>{{ focusedCurrency.price_usd | currency }} USD</h1>

        <h3>% change 1h:</h3>
        <h1 [style.color]="focusedCurrency['percent_change_1h'] > 0 ? 'green' : 'red'">
          {{ focusedCurrency['percent_change_1h'] }}
        </h1>

        <h3>% change 24h:</h3>
        <h1 [style.color]="focusedCurrency['percent_change_24h'] > 0 ? 'green' : 'red'">
          {{ focusedCurrency['percent_change_24h'] }}
        </h1>

        <h3>% change 7d:</h3>
        <h1 [style.color]="focusedCurrency['percent_change_7d'] > 0 ? 'green' : 'red'">
          {{ focusedCurrency['percent_change_7d'] }}
        </h1>
      </div>

      <div style="margin-left: 35%">
        <h3>Market Cap</h3>
        <h1>
          {{ focusedCurrency['market_cap_usd'] | currency }} USD
        </h1>

        <h3>Volume (24hr):</h3>
        <h1>
          {{ focusedCurrency['24h_volume_usd'] | currency }} USD
        </h1>

        <h3>Total Supply:</h3>
        <h1>
          {{ focusedCurrency['total_supply'] | currency }} USD
        </h1>

        <h3>Max Supply:</h3>
        <h1>
          {{ focusedCurrency['max_supply'] ? focusedCurrency['max_supply'] : '0'  | currency }} USD
        </h1>

      </div>
    </div>

  </div>
</div>